/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


/* Primary Style start */
*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik';
}

.banner-text button, .solution-studio button, .our-products button, .meet-associate button, .send-button button, .latest-blog .footer-btn, .form-action button, .email-field .update-news button {
    background: linear-gradient(90deg, #F39022 -7.35%, #F8A921 103.68%);
    border-radius: 10000px;
}

/* Primary Style End */


/* Navbar section start */

.navbar-section {
    background: radial-gradient(81.16% 130.98% at 40% -5.92%, rgba(243, 145, 34, 0.8) -5%, #000 100%);
}

.btn-whatsapp {
    font-family: 'Space Grotesk';
    color: #52FFA1;
    background: none;
    border: 1px solid #52FFA1;
    font-size: 18px;
    line-height: 24px;
}

.btn-whatsapp a {
    color: #52FFA1;
}

.navbar-section button .whatsapp-img {
    font-family: 'Space Grotesk';
    background-color: #52ffa124;
    font-size: 18px;
}

.banner-text h1 {
    line-height: 70px;
    font-size: 56px;
}

.banner-text p {
    font-size: 20px;
    line-height: 24px;
}

.banner-section .banner-img img {
    height: 588px;
}

.navbar-light .navbar-toggler {
    color: #f9fafb;
    border-color: #f8f9fa;
}

.solution-studio, .our-products, .explore-offer, .meet-associate {
    background: #F5F5F5;
}

.solution-studio h1 {
    color: #1A1717;
}

.solution-studio p {
    color: #626262;
}

/* how we work section */
.how-work {
    background: rgba(154, 154, 154, 0.03);
}

.how-work .card-style {
    background: rgb(154 154 154 / 0%);
    overflow: hidden;
}

.how-work .card-style img {
    background: #fff;
    padding: 15px;
    border-radius: 100%;
    margin-top: 10px;
    transition: transform 1s;
}

.how-work .card-style:hover img {
    transform: scale(1.2);
    background: none;

}

.how-work .card-style h5 {
    font-size: 36px;
    line-height: 29px;
    color: #191717;
}

.how-work .card-style p {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #626262;
}

/* Explore What We Offer section */

.explore-offer .card-style .course-number img {
    height: 95px;
    width: 95px;
}

.explore-offer .card-style .course-number span {
    font-size: 29.3333px;
    line-height: 27px;
    color: #0D0E16;
    opacity: 0.5;
}

.explore-offer .card-style .card-body-style h5 {
    font-size: 38px;
    line-height: 45px;
    color: #0D0E16;
}

.explore-offer .card-style .card-body-style p {
    font-size: 18px;
    line-height: 30px;
    color: #777777;
}

.explore-offer .card-style .learn-more a {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
}

.explore-offer .card-style:hover .learn-more {
    color: #F7A421;
    text-decoration: underline;
}

.explore-offer .card-style:hover .learn-more a {
    color: #F7A421;
    text-decoration: underline;
}

.explore-offer .card-style {
    transition: 2s;
}

.explore-offer .card-style:hover {
    box-shadow: 10px 5px 5px rgb(76, 76, 76);
    transition-timing-function: ease-in-out;
}

/* Check-Out Our Products section */

.products-revew {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    right: -50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.products-revew:hover img {
    opacity: 0.1;
}

.products-revew:hover .middle {
    opacity: 1;
}

.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.products-revew .product-button-cart img {
    background: none;
    color: #F5F5F5;
    border: 1px solid #F5F5F5;
}

.products-revew .hover-bg button a {
    color: #fff;
}

.products-revew:hover .product-button-eye {
    background: white;
    color: #F39022;
    border: 1px solid #F39022;
}

.products-revew:hover .product-button-eye a {
    color: #F39022;
}

.products-revew:hover .product-button-cart {
    background: none;
    color: #F5F5F5;
    border: 1px solid #F5F5F5;
}

.products-revew:hover .hover-bg {
    position: relative;
    border: 1px solid white;
    border-radius: .25rem;
    background: rgba(35, 30, 30, 0.26);
    backdrop-filter: blur(5.5px);
    border-radius: 10px 10px 0px 0px;
}

.card-body-style .title-card {
    font-size: 20px;
}

.script-name .course {
    background: #69B2E6;
    border-radius: 10000px;
    color: white;
}

.script-name .dollar {
    font-size: 20px;
}

.card-body-style .star {
    color: #40D986;
    border-radius: 1px;
}

.card-body-style .point {
    color: black;
}

/* Meet Our associate pertner fintechsolver section */
.meet-associate h1 {
    font-size: 42px;
    line-height: 57px;
    text-transform: capitalize;
    color: #1A1717;
}

.meet-associate span {
    color: #F69E21;
}

.meet-associate p {
    font-size: 18px;
    line-height: 30px;
    color: #777777;
}

.meet-associate img {
    height: 494px;
}

/* Contact with us section */

.some-socail-icons li a i {
    padding: 10px;
    background: #5b5d5d99;
    border-radius: 100%;
}

.contact-us {
    background: #050403;
}

.mb-1.input-field input, .mb-1.input-field textarea {
    color: white;
}

.contact-with-information ul li {
    list-style: none;
    color: white;
    font-size: 20px;
}

.contact-with-information ul li img {
    background: rgb(242 230 230 / 26%);
    padding: 10px;
    border-radius: 100%;
}

.contact-with-information h1 {
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.contact-with-information h1 span {
    color: #F39022;
}

.contact-with-field h1 span {
    color: #F39022;
}

.contact-with-field h1 {
    color: #fff;
}

.contact-with-field p {
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #ffffffb0;
}

.form-action input, .form-action textarea {
    background: rgba(255, 255, 255, 0.11);
    border: 1px solid rgba(224, 224, 224, 0.42);
    border-radius: 8px;
}

/* Our happy clients section */
.happy-client h1 {
    color: #000;
    font-size: 48px;
    line-height: 57px;
    text-transform: capitalize;
}

.star-rating .star-icons i {
    color: #F08F61;
}

.star-rating .star-icons .disabled {
    color: #F08F61;
    opacity: 0.3;
}

.customer-information {
    display: grid;
    grid-template-columns: 18% 82%;
    align-items: center;
}

img.img-fluid.rounded-pill {
    width: 50px;
}

.cline-button button {
    border: 1px solid #F39022;
}

.cline-button button a {
    color: #666666;
}

.wrapper {
    display: flex;
    align-items: center;
    margin-right: -70px;
}

.wrapper .owl-prev,
.wrapper .owl-next {
    position: absolute;
    top: -40%;
}

.wrapper .owl-prev b,
.wrapper .owl-next b {
    color: #666666;
    background-color: white;
    font-size: 25px;
    padding: 0px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    font-weight: bold;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #86979100;
    color: #FFF;
    text-decoration: none;
}

.wrapper .owl-prev:hover b,
.wrapper .owl-next:hover b {
    color: #fff;
    background: linear-gradient(90deg, #F39022 -7.35%, #F8A921 103.68%);
    border: 0px solid #CCCCCC;
    font-weight: bold;
}

.wrapper .owl-prev {
    right: 13%;
}

.wrapper .owl-next {
    right: 7%;
}

/* Latest Blog Section */

.animation-card {
    background-color: transparent;
    /* width: 300px; */
    /* height: 300px; */
    perspective: 1000px;
}

.blog-card {
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
    /* text-align: center; */
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition-timing-function: ease-in-out;
}

.animation-card:hover .blog-card {
    transform: rotateY(350deg);
    transition-delay: 1s, 250ms;


}





.latest-blog .blog-card .learn-more-btn {
    font-size: 15px;
    line-height: 24px;
}

.latest-blog .blog-card:hover .learn-more-btn {
    color: #F39022;
    text-decoration: underline;
}

.blog-card .card-footer button a {
    line-height: 33px;
    color: #000;
}

.blog-card:hover .card-footer button a {
    color: #F39022;
}

.blog-card .card-footer span {
    line-height: 33px;
    color: #56565C;
}

/* Get your updated news section */
.updated-information {
    background: linear-gradient(90deg, #F39022 -7.35%, #F8A921 103.68%);
    border-radius: 30px;
    margin: auto;
}

.form-box {
    padding: 10px 20px;
    background: white;
    color: #AFAFAE;
}

.form-box input {
    outline: none;
    border: none;
    border-radius: 50%;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(255, 255, 255)) !important;
    color: fieldtext !important;
}

.form-box input {
    outline: none;
    border: none;
    border-radius: 50%;
    background: white;
    color: #1b8ff6;
}

.form-box input:hover {
    outline: none;
    border: none;
    border-radius: 50%;
    background: white;
    color: #1b8ff6;
}

.update-news {
    display: flex;
    background: #FFFFFF;
}

.update-news input {
    font-size: 18px;
    color: #000;
    outline: none;
}

.update-news button {
    font-size: 20px;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

/* Footer Section style section */
.footer-area {
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-content h5 {
    font-size: 20px;
    line-height: 24px;
}

.footer-content ul li a, .footer-content p {
    font-size: 18px;
    line-height: 21px;
    line-height: 30px;
}

.footer-header-content {
    margin-top: -70px;
}

.footer-content .socail-icons li a {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0px 5px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.footer-content .socail-icons li a i {
    color: white;
}

.footer-bottom hr {
    border: 1px solid #606060;
}



/* ....................................................
                Responsive web degain section
...................................................... */

@media screen and (max-width: 576px) {
    div#navbarSupportedContent {
        text-align: center;
    }

    form.d-flex {
        justify-content: center;
    }

    button.btn-whatsapp.rounded-pill.py-1.px-3.d-flex.align-items-center.fw-bold {
        margin: auto;
    }

    .banner-text {
        text-align: center;
    }

    .banner-text button {
        margin: auto;
    }

    .banner-img img {
        margin: auto;
        padding-top: 30px;
    }

    .banner-text h1 {
        font-size: 29px;
        line-height: 50px;
    }

    .solution-studio h1 {
        padding-top: 20px;
    }

    .solution-studio .text-content {
        text-align: center;
        padding-top: 30px;
    }

    .banner-text button, .solution-studio button {
        margin: auto;
    }

    .meet-associate .fintechsolver {
        text-align: center;
    }

    .meet-associate .fintechsolver button {
        margin: auto;
    }

    .wrapper .owl-prev {
        right: 34%;
    }

    .wrapper .owl-next {
        right: 20%;
    }

    .updated-information.py-5.px-2 {
        text-align: center;
    }

    .footer-area .footer-align {
        text-align: center;
    }

    ul.p-0.d-flex.socail-icons {
        justify-content: center;
    }

    .imges-text.d-flex.align-items-center {
        justify-content: center;
    }

    .copy-right p {
        justify-content: center;
        text-align: center;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    div#navbarSupportedContent {
        text-align: center;
    }

    form.d-flex {
        justify-content: center;
    }

    button.btn-whatsapp.rounded-pill.py-1.px-3.d-flex.align-items-center.fw-bold {
        margin: auto;
    }

    .banner-text {
        text-align: center;
    }

    .banner-text button {
        margin: auto;
    }

    .banner-img img {
        margin: auto;
        padding-top: 30px;
    }

    .banner-text h1 {
        font-size: 29px;
        line-height: 50px;
    }

    .solution-studio h1 {
        padding-top: 20px;
    }

    .solution-studio .text-content {
        text-align: center;
        padding-top: 30px;
    }

    .banner-text button, .solution-studio button {
        margin: auto;
    }

    .meet-associate .fintechsolver {
        text-align: center;
    }

    .meet-associate .fintechsolver button {
        margin: auto;
    }

    .wrapper .owl-prev {
        right: 11%;
    }

    .wrapper .owl-next {
        right: 0%;
    }

    .updated-information.py-5.px-2 {
        text-align: center;
    }

    .footer-area .footer-align {
        text-align: center;
    }

    ul.p-0.d-flex.socail-icons {
        justify-content: center;
    }

    .imges-text.d-flex.align-items-center {
        justify-content: center;
    }

    .copy-right p {
        justify-content: center;
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    div#navbarSupportedContent {
        text-align: center;
    }

    form.d-flex {
        justify-content: center;
    }

    .banner-text h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .banner-section .banner-img .w-75 {
        width: 100% !important;
    }

    .solution-studio h1 {
        font-size: 25px;
    }

    .wrapper .owl-next {
        right: 3%;
    }

    .wrapper .owl-prev {
        right: 11%;
    }

    .updated-information.py-5.px-2 {
        text-align: center;
    }

    .footer-area .footer-align {
        text-align: center;
    }

    ul.p-0.d-flex.socail-icons {
        justify-content: center;
    }
}